---
layout: default
title: Membres
---

<pre>Vous voulez participer au projet ? Créez votre <a href="{{site.baseurl}}/tutos/2013/11/20/creer-fiche-membre.html">fiche</a>. <a style="cursor:pointer" onClick="javascript:Jekhub.addMember()" >Ou là</a></pre>

{% for membre in site.categories.membres %}
<h2 id="{{membre.pseudo}}">{{membre.pseudo}}</h2>
<a href="{{site.baseurl}}{{membre.url}}"><img src="{{membre.photo}}" alt="avatar" /></a>
<div class="bioAndSocial">
	<pre>{{membre.bio}}</pre>
	{% if membre.github %}
	<a href="{{membre.github}}" target="_blank"><img src="{{site.baseurl}}/images/github.png" /></a>
	{% endif %}
	{% if membre.facebook %}
	<a href="{{membre.facebook}}" target="_blank"><img src="{{site.baseurl}}/images/facebook.png" /></a>
	{% endif %}
	{% if membre.twitter %}
	<a href="{{membre.twitter}}" target="_blank"><img src="{{site.baseurl}}/images/twitter.png" /></a>
	{% endif %}
	{% if membre.viadeo %}
	<a href="{{membre.viadeo}}" target="_blank"><img src="{{site.baseurl}}/images/viadeo.png" /></a>
	{% endif %}
	{% if membre.linkedin %}
	<a href="{{membre.linkedin}}" target="_blank"><img src="{{site.baseurl}}/images/linkedin.png" /></a>
	{% endif %}
	{% if membre.googleplus %}
	<a href="{{membre.googleplus}}" target="_blank"><img src="{{site.baseurl}}/images/googleplus.png" /></a>
	{% endif %}
	{% if membre.blog %}
	<a href="{{membre.blog}}" target="_blank">{{membre.blog}}</a>
	{% endif %}
</div>
{% endfor %}